@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Montserrat;
        src: url('./fonts/Montserrat/static/Montserrat-Medium.ttf');
        font-family: MontserratBold;
        src: url('./fonts/Montserrat/static/Montserrat-Bold.ttf');
      }
      .BG-IMG{
        background-image: url('../../public/angelo-abear-knTKij60p3g-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .FONT-BOLD{
        font-family: MontserratBold;
      }
      .FONT{
        font-family: Montserrat;
      }
    .BG{
      background-color: #25344F;
    }
    .BTN-COLOR{
      background-color: #23A6F0;
    }
    .TEXT-COLOR{
      color: #60C6FF;
    }
  }